@import url(/css_globais/botaoTopo.css);
/* ESTILO GERAL */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(background);
    color: var(--texto-principal);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* CONTAINER PRINCIPAL */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

/* CONTEÚDO */
.conteudo {
    background: var(--container-bg);
    padding: 25px;
    border-radius: 12px;
    box-shadow: var(--sombra);
    margin-bottom: 30px;
    
}

.conteudo h2 {
    font-size: 1.8rem;
    color: var(--texto-principal);
    margin-bottom: 12px;
}

.conteudo p {
    font-size: 1rem;
    margin-bottom: 15px;
}

/* BOTÃO COPIAR */
#btnCopiar {
    background-color: var(botao-bg);
    color: var(--botao-texto);
    border: none;
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#btnCopiar:hover {
    background-color: var(--botao-bg-hover);
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    .conteudo {
        padding: 18px;
    }

    header nav {
        flex-wrap: wrap;
        gap: 15px;
    }
}

/* ===== Rodapé ===== */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  text-align: center;
  padding: 1rem;
  background: var(--footer-bg);
  color: var(--footer-texto);
}
