@import url(/css_globais/botaoTopo.css);
/* ESTILO GERAL */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffe9f7;
    color: #000000;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* CONTAINER PRINCIPAL */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

/* CONTEÚDO */
.conteudo {
    background: #ff99cc;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    margin-bottom: 30px;
    
}

.conteudo h2 {
    font-size: 1.8rem;
    color: #5a2d1c; /* cor marrom do texto */
    margin-bottom: 12px;
}

.conteudo p {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 15px;
}

/* BOTÃO COPIAR */
#btnCopiar {
    background-color: #ff4da6;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#btnCopiar:hover {
    background-color: #d186ab;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    .conteudo {
        padding: 18px;
    }

    header nav {
        flex-wrap: wrap;
        gap: 15px;
    }
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--cor-rosa-principal);
  color: var(--cor-branco);
  position: relative;
  bottom: 0;
  width: 100%;
}
footer p {
  margin: 0;
  font-size: 0.9rem;
}