@import url('./cores.css');

/* Ajustes específicos para a página Sobre */
.conteudo p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.conteudo ul {
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.conteudo ul li {
  margin-bottom: 0.5rem;
}

aside p {
  text-align: center;
  line-height: 1.4;
}